---
title: Accumulo Fotovoltaico
subtitle: Piccola analisi sull'opportunità di utilizzare un accumulo fotovoltaico
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Accumulo Fotovoltaico by mfortini</title>

    <meta name="viewport" content="width=device-width">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js" integrity="sha256-w8BXa9KXx+nmhO9N4hupvlLy+cAtqEarnB40DVJx2xA=" crossorigin="anonymous"></script>
  </head>
  <body>
              <div class="container">
      <header>
        <h1>Accumulo Fotovoltaico</h1>
        <p>Piccola analisi sull&#39;opportunità di utilizzare un accumulo fotovoltaico</p>

      </header>
      <section>
                      <div class="row">
                              <div class="col-md-12">
              Utilizzando i dati di circa 3 anni di funzionamento dei miei pannelli solari (3kW di picco), registrati ogni 15 minuti, ho simulato l'effetto ottenibile dall'inserimento nell'impianto di un accumulo di energia
              con capacità via via crescente, fino a dimensioni non praticabili fisicamente con le tecnologie attuali.
              Come si può notare, già intorno ai 5kWh di accumulo si ottiene un dimezzamento della quantità di energia totale comprata o venduta. Oltre questo valore, si ha un ulteriore diminuzione al crescere della
              capacità, finché a 2621.44kWh di accumulo si ottiene che l'energia non viene più venduta, ma allo stesso tempo resta una quantità non abbattibile di energia da acquistare dal gestore per
              rispondere alla domanda dell'impianto.
                              </div>
                      </div>
                      <div class="row">
                              <div class="col-md-6 col-md-offset-3">
<canvas id="myChart" width="400" height="400"></canvas>
      </div>
                      </div>

<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',

    data: {
  labels: [
              {% for member in site.data.results %}
              {{member.capacity}},
              {% endfor %}
          ],
    
    
        datasets: [{
            label: 'Sold',
            data: [
              {% for member in site.data.results %}
              {{member.sold_with}},
              {% endfor %}
    ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        },
        {
            label: 'Bought',
            data: [
              {% for member in site.data.results %}
              {{member.bought_with}},
              {% endfor %}
    ],
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }
        ]
    },
    options: {
        title: {
            display: true,
            text: 'Bought/Sold vs Capacity'
    },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
   xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Capacity [kWh]'
      }
    }]
        }
    }
});
</script>
      
      </section>
      <footer>
        <p class="view"><a href="https://github.com/mfortini/AccumuloFotovoltaico">View the Project on GitHub <small>mfortini/AccumuloFotovoltaico</small></a></p>

        <p>This project is maintained by <a href="https://github.com/mfortini">mfortini</a></p>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
                      </div>
  </body>
</html>
